.image{
    height: 450px;

}

.container{
    padding-left: 80px;
}

.detailContainer{
    display: flex;



}

.description{
    height: 500px;
    width: 800px;
    padding-left: 60px;
    padding-right: 60px; 
    display: flex;
    justify-content: center;
}

.backBtn{
    background-color: #ea66ae; 
    border: none;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}