.image{
    height: 450px;

}

.container{
    padding-left: 20px;
}

.detailContainer{
    display: flex;
    justify-content: space-between;

}

.backBtn{
    background-color: #ea66ae; /* Green */
    border: none;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}